* {
    box-sizing: border-box;
}

body {
    border: 0;
}

.content {
    margin: 30px;
    padding: 50px;
}

.navigation {
    display: grid;
    justify-content: center;

    grid-auto-rows: 1fr;
    grid-template-columns: repeat(3, 100px);
    justify-items: center;

    gap: 5px;
    list-style: none;
}

.item__tooltip {
    position: relative;
}

.item__tooltip:before {
    content: attr(data-text);
    position: absolute;

    top: -57px;
    left: 50%;
    transform: translateX(-50%);

    width: 150px;
    padding: 10px 0;
    border-radius: 10px;
    background: #709b63;
    color: #fff;
    text-align: center;

    display: none;
}

.item__tooltip:hover:before {
    display: block;
}

.item__tooltip:after {
    content: "";
    position: absolute;
    
    left: 50%;
    top: 0;
    rotate: 270deg;
    transform: translate(93%, -50%);
   
    border: 10px solid #709b63;
    border-color: transparent #709b63 transparent transparent;
    
    display: none;
  }

  .item__tooltip:hover:before, .item__tooltip:hover:after {
    display: block;
  }
